<div class="eachBlog flex-column p-3">
    {{#each user as |user|}}
    {{#each user.blogs as |blog|}}
    <div class="oldBlog ms-3 me-3 mb-4 border border-dark">
        <div class="bg-success d-flex flex-row p-2">
            <h4 class="text-light">{{blog.title}}</h4>
            <h6 class="text-light ms-auto">Posted by {{user.name}} on {{ blog.date }}</h6>
        </div>
        <div class="p-3">
            <p>
                {{blog.contents}}
            </p>
        </div>
    </div>
    {{/each}}
    {{/each}}
</div>

 {{!-- <script src="/js/script.js"></script> --}}