<div class="eachBlog flex-column p-3">
    {{#each user as |user|}}
    {{#each (limitBlogs user.blogs 3) as |blog|}}
    
        {{> existing_blogs blog=blog}}

    {{/each}}
    {{/each}}
</div>

 {{!-- <script src="/js/script.js"></script> --}}