<div class="login d-flex flex-column p-3">
    <div class="loginBox flex-column p-3 m-4 border border-dark">
        <h2>Login</h2>
        <p>
            Enter Username
        </p>
        <input class="userName1" type="text" name="username" placeholder="Username"><br>
        <p>
            Enter Password
        </p>
        <input class="password1" type="text" name="password" placeholder="Password"><br>
        <button class="loginBtn">
            Login
        </button>
        <p class="signUpBtn text-primary">
            Sign Up Instead
        </p>
    </div>
    <div class="signupBox flex-column p-3 ms-3 me-s mb-4 border border-dark">
        <h2>Sign Up</h2>
        <p>
            Enter Username
        </p>
        <input class="userName2" type="text" name="username" placeholder="Username"><br>
        <p>
            Enter Password
        </p>
        <input class="password2" type="text" name="password" placeholder="Password"><br>
        <button class="signupBtn">
            Sign Up
        </button>
        <p class="logInBtn text-primary">
            Login Instead
        </p>
    </div>
</div>

<script src="/js/login.js"></script>